body{
    background-image: url("fatec.png");
    background-attachment: fixed;
    background-size: cover;
}

.container-main{
    background-color: rgb(197, 216, 194);
    width:fit-content;
    padding: 10px;
    border-radius: 10px;

    margin: 39vh auto 0 auto;

    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 8px 16px black;
}

#cursos{
    text-align: center;
    font-size: larger;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid rgb(114, 124, 113);
    background-color: rgb(235, 248, 233);
}